@media screen and (min-width: $desktop) {
	.section.benefits {
		padding-bottom: 0;
	}
}

.benefits__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.benefits__item {
	width: 100%;
	@media screen and (min-width: $tablet) {
		width: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: $desktop) {
		width: calc((100% - 90px) / 4);
	}
}

.benefits__icon {
	display: flex;
	height: 120px;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	margin-bottom: 30px;

	background-color: $button-icon-nonactiv-color;
}

.benefits__title {
	@media screen and (max-width: $tablet) {
		text-align: center;
	}

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.benefits__description {
	margin-top: 10px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $link-color;
}
