@media screen and (min-width: $tablet) {
	.card-list {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	.card-list__item {
		flex-basis: calc(100% / 2 - 30px);
		margin: 15px;
	}
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
	.card-list__link {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.card-list__signature {
		flex-grow: 1;
	}

	.card-list__overlay {
		padding: 49px 24px 77px;
	}
}
