.clients__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.03em;
}

.clients__list {
	display: flex;
	@media screen and (max-width: $desktop) {
		flex-wrap: wrap;
		gap: 30px;

		margin-top: 30px;
	}
}

.clients__link {
	display: flex;
	width: 210px;
	height: 92px;
	justify-content: center;
	align-items: center;

	border: 1px solid $icon-color;
	border-radius: 4px;
	color: $icon-color;

	transition: color 250ms $time-function;

	&:hover,
	&:focus {
		border: 1px solid $accent-color;
		color: $accent-color;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
}

.clients__icon {
	fill: currentColor;

	&:hover,
	&:focus {
		fill: currentColor;
	}
}

@media screen and (max-width: $mobile) {
	.clients__list {
		display: block;
	}

	.clients__item {
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.clients__link {
		max-width: 450px;
		width: 100%;
	}
}
