.footer {
	padding: 60px 0;
	background-color: $footer-color;
}

.footer__block {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: $desktop) {
		flex-direction: row;
		align-items: baseline;
	}
}

@media screen and (min-width: $tablet) {
	.footer__wrap {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 0 74px 0 61px;

		@media screen and (min-width: $desktop) {
			padding: 0;
			flex-direction: row;
			justify-content: start;
		}
	}
}

.footer__address {
	margin-bottom: 60px;

	@media screen and (min-width: $tablet) {
		margin: 0;
		width: 231px;
	}
}

.address {
	margin-top: 20px;
	text-align: center;
	@media screen and (min-width: $desktop) {
		text-align: left;
	}
}

.address__label {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $white;
}

.address__link {
	margin-top: 9px;

	font-style: normal;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	color: $footer-link-color;
}

@media screen and (min-width: $desktop) {
	.footer__network {
		margin-left: 70px;
	}
}

.footer__title {
	display: block;
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $white;
	@media screen and (max-width: $desktop) {
		text-align: center;
	}
}

.network-block__link--footer {
	background: rgba(255, 255, 255, 0.1);

	transition: background-color 250ms $time-function;
}

.network-block__icon--footer {
	fill: $white;
}

.footer-form {
	margin-top: 60px;
	@media screen and (min-width: $desktop) {
		margin-top: 0;
		margin-left: 93px;
	}
}

.footer-form__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: $desktop) {
		flex-direction: row;
		align-items: baseline;
	}
}

.footer-form__input {
	padding-left: 16px;
	margin-bottom: 20px;
	max-width: 450px;
	width: 100%;
	height: 50px;

	@media screen and (min-width: $desktop) {
		margin-bottom: 0;
		width: 358px;
		margin-right: 12px;
	}

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	background-color: $footer-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}

// @media screen and (min-width: $desktop) {
// 	.footer-form__button {
// 		margin-left: 12px;
// 	}
// }

.main-button__icon {
	margin-left: 10px;
}
