.button-block {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	margin-top: -15px;

	@media screen and (min-width: $tablet) {
		justify-content: center;
		margin-bottom: 30px;
	}
	@media screen and(min-width:$desktop) {
		margin-bottom: 50px;
	}
}


.button-block__item {
	margin-top: 15px;
	margin-right: 8px;

	&:last-child {
		margin-right: 0;
	}
}

.button-block__button {
	padding: 6px 22px;

	font-family: inherit;
	font-style: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;

	background-color: $button-icon-nonactiv-color;

	border-radius: 4px;
	border-style: none;
	cursor: pointer;

	transition: background-color 250ms $time-function, color 250ms $time-function, box-shadow 250ms $time-function;

	&:hover,
	&:focus {
		background-color: $accent-color;
		color: $white;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
