@media screen and (min-width: $tablet) {
	.card-list {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	.card-list__item {
		flex-basis: calc(100% / 2 - 30px);
		margin: 15px;
	}
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
	.card-list__item {
		&:first-child .card-list__signature {
			width: 353.5px;
			height: 147px;
		}
	}
}
