.header {
	display: flex;
	align-items: center;
	margin-top: 0;

	border-bottom: 1px solid $header-border-color;
}

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: $black;
}

.logo__web {
	color: $accent-color;
	margin-right: -7px;
}

.logo__footer {
	color: $white;
}

.nav {
	display: flex;
	margin-left: 93px;
	align-items: center;

	list-style-type: none;
}

.nav__item {
	margin-right: 50px;

	&:last-child {
		margin-right: 0;
	}
}

.nav__link {
	padding-top: 32px;
	padding-bottom: 32px;

	color: $font-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition: color 250ms $time-function;

	&:last-child {
		margin-right: 0;
	}

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.nav__link--current {
	position: relative;

	color: $accent-color;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	&::after {
		content: "";
		position: absolute;
		bottom: 0;

		display: block;
		width: 100%;
		height: 4px;

		border-radius: 4px;
		background-color: $accent-color;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
}

.top-contacts {
	display: flex;
	margin-left: auto;
}

.top-contacts__link {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-right: 30px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $link-color;

	transition: color 250ms $time-function;

	&:last-child {
		margin-right: 0;
	}

	&:hover,
	&:focus {
		color: $accent-color;
		fill: $accent-color;
	}
}

.top-contacts__icon {
	align-self: center;
	margin-right: 10px;

	fill: currentColor;

	&:hover {
		fill: currentColor;
	}
}
