@media screen and (min-width: $desktop) {
	.activity__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;
	}

	.activity__list {
		display: flex;
		margin-top: 50px;
	}

	.activity-img {
		position: relative;

		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	.activity-img__signature {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;

		background-color: rgba(47, 48, 58, 0.8);
	}

	.activity-img__label {
		padding: 27px 0;
		margin-left: auto;
		margin-right: auto;

		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $white;
	}
}
