@media screen and (min-width: $desktop) {
	.footer__block {
		display: flex;
	}

	.footer__address {
		display: block;
		width: 231px;
		margin-left: 0;
	}

	.address {
		display: block;
		margin-top: 20px;
	}

	.footer__network {
		margin: 12px auto 40px 70px;
	}

	.footer-form {
		margin-top: 10px;
		margin-left: 93px;
	}

	.footer-form__wrap {
		flex-direction: row;
		margin-top: 20px;
	}

	.footer-form__input {
		display: flex;
		align-items: center;
		padding: 0;
		padding-left: 16px;

		width: 358px;
		height: 50px;
	}

	.footer-form__button {
		margin-left: 12px;
	}
}
