@media screen and (min-width: $desktop) {
	.footer__block {
		flex-direction: row;
		align-items: baseline;
	}

	.footer__address {
		display: block;
		width: 231px;
	}

	.address {
		text-align: left;
	}

	.footer__network {
		margin-left: 70px;
	}

	.footer-form {
		margin-top: 0;
		margin-left: 93px;
	}

	.footer-form__wrap {
		flex-direction: row;
		align-items: baseline;
	}

	.footer-form__input {
		padding-left: 16px;
		margin-bottom: 0;

		width: 358px;
		height: 50px;
	}

	.footer-form__button {
		margin-left: 12px;
	}
}
